<div class="sidebarList">
    <p>
        ホーム<br>
        話題を検索<br>
        通知<br>
        メッセージ<br>
        ブックマーク<br>
        リスト<br>
        プロフィール<br>
        もっと見る<br>
        <%= link_to 'ツイートする','tweets/new' %>
    </p>
</div>